---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.jsx';
import Footer from '../../components/Footer.astro';
import '../../styles/pages/postulados.css';
import "../../styles/empleos/empleos.css";
import Postulaciones from '../../components/Postulaciones.jsx';
---

<Layout title="SearchJobs | Postulados">
  <Header client:load />

  <section class="pagina">
    <h1>Postulaciones</h1>
    <p>Lista de Vacantes a las que aplicaste</p>
 
    <Postulaciones client:load/>
  </section>
  <Footer />
</Layout>