# Archivos de entorno
**/.env*
application-local.yml

# Logs
*.log

# Archivos auxiliares
HELP.md

# Caches y temporales
tmp/
cache/
dist/
build/

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.idea/
**/.vscode/

# Node.js / JavaScript
**/node_modules/
**/.next/
**/.turbo/
**/.astro/

# Backend Java (Maven)
target/
!.mvn/wrapper/maven-wrapper.jar
application-dev.yml

# Backend Java (Gradle)
build/

# IDEs
## IntelliJ IDEA
*.iws
*.iml
*.ipr

## Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
