spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL_PROD}
    username: ${SPRING_DATASOURCE_USERNAME_PROD}
    password: ${SPRING_DATASOURCE_PASSWORD_PROD}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  data:
    mongodb:
        uri: ${MONGODB_URI}
    
  mvc:
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd'T'HH:mm:ss
      time: HH:mm:ss

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

app:
  upload-dir:
    img: ${UPLOAD_DIR_IMG}
    pdf: ${UPLOAD_DIR_PDF}
    video: ${UPLOAD_DIR_VIDEO}
    
security:
  jwt:
    key:
      private: ${MY_SECRET_KEY}
    user:
      generator: SEARCHJOBS-BACKEND
    expiration: ${JWT_EXPIRATION}
