spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  data:
    mongodb:
        uri: ${MONGODB_URI}
    
  mvc:
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd'T'HH:mm:ss
      time: HH:mm:ss

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

app:
  upload-dir:
    img: ${UPLOAD_DIR_IMG}
    pdf: ${UPLOAD_DIR_PDF}
    
security:
  jwt:
    key:
      private: ${MY_SECRET_KEY}
    user:
      generator: SEARCHJOBS-BACKEND
    expiration: ${JWT_EXPIRATION}

springdoc:
  swagger-ui:
    path: /documentacion.html

  habilitar-spring-security: true
  urlsNombrePrimario: Documentacion SearchJobs
  # springdoc.swagger-ui.operacionesSorter -> ordena la lista de peticiones 

error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
    codes:
      VacanteNempresaUnique: VACANTE_NEMPRESA_UNIQUE
      UsuarioCorreoUnique: USUARIO_CORREO_UNIQUE
      UsuarioTelefonoUnique: USUARIO_TELEFONO_UNIQUE
      CandidatoIdentificacionUnique: CANDIDATO_IDENTIFICACION_UNIQUE
      CandidatoIdUsuarioUnique: CANDIDATO_ID_USUARIO_UNIQUE
      EmpresaNitUnique: EMPRESA_NIT_UNIQUE
      EmpresaIdUsuarioUnique: EMPRESA_ID_USUARIO_UNIQUE
